@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@500&display=swap');

::-webkit-scrollbar {
  width: 0;
}

.font-so-bold {
  font-family: 'Oswald', sans-serif;
}

.font-sarabun {
  font-family: 'Sarabun', sans-serif;
}

svg {
  vertical-align: middle;
  display: inline-block;
}


span::selection {
  color: rgb(255, 252, 59);
}

::selection {
  color: rgb(0, 255, 42);
}